Emails Auto Reply.json
{
  "name": "Emails Auto Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ecbb2aac-3be5-414b-bb1b-8074a095e5f4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "pYW3btxU65ty8XcI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        192
      ],
      "id": "f635da5f-c408-467a-82ea-e55ea70a869b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zXRYFIWuVfhGJGaY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a professional reply to the following client email:\n{{ $json.snippet }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "da141162-28b6-4ce5-93c6-5231fe83b43b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "a028cfce-8f3a-4aad-8e9e-2aa010d53ed7",
      "name": "Reply to a message",
      "webhookId": "21d7b1e1-b438-4a24-a789-00ee361c445d",
      "credentials": {
        "gmailOAuth2": {
          "id": "pYW3btxU65ty8XcI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ba934ad4-0ef4-4eea-a9a0-0988c498e6ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42015ef60d7aaad79af06e5fa2fc54f6dd9274557a5ae43a4648709d76936c4c"
  },
  "id": "bEArpQ9-zzd5kBLjfHWdw",
  "tags": []
}